@import url(general.css);

#page-header {
    background-color: white;
    color: rgb(72, 72, 72) !important;
}

#page-header a{
    text-decoration: none;
    color: rgb(72, 72, 72) !important;
    margin: 0 10px;
}
#borde{
    box-shadow: 0 0 10px rgb(173, 173, 173);    
}

.nav-item{
    font-size: 120%;
}

#enlace {
    color: white !important;
}

#enlace:hover {
    color: rgb(0, 0, 0) !important;
    text-shadow: 0 0 2px rgb(173, 173, 173);
}

#enlace:link {
    text-decoration: none !important;
}

#btn{
    color: rgb(120, 29, 29);
}
.user-btn { 
    border-radius: 40%;
    border-color: black;
}
.user-btn:hover{
    background-color:black;
    box-shadow: 0 0 10px rgb(173, 173, 173);
}
#pill{
    border-color: #0d6efd !important;
    border-width: 0.5px !important;
    border-style: solid !important;
    border-radius: 10px;
    background-color: #F0F2F5 !important;
    display: inline-block !important;
    padding: 0.35em 0.65em !important;
    font-size: .75em !important;
}
#picture-pill{
    border-radius: 10px !important;
    width: 45px;
    margin-bottom: .3rem !important;
}
#text-pill {
    color: black !important;
    margin-right: .5rem!important;
    margin-left: .5rem!important;
    font-size: 1.25rem;
}
#text-pill:hover {
    color: #0d6efd !important;
    text-shadow: 0 0 1px black;
}