
.container{
    margin-top: 7%;
    margin-bottom: 20%;
}

div.container h1{
    font-size: 350%;
    text-align: center;
}

.enlace:link{
    text-decoration: none;
    text-align: center;
}

#btn-create{
    width: 150px;
}
#btn-login{
    width: 150px;;
}
#border{
    background-color: #ffffff;
    margin-left: 6%;
    border-style: none;
    border-width: 1px;
    border-radius: 3%;
    border-color: #f0f2f5;
    box-shadow: 0 0 10px rgb(173, 173, 173);
}

#page-footer{
    position: relative !important;
}


